@import "../../common/mixin";
.drafboxWrap {
    width: 100%;
    min-height: 100%;
    min-width: 750px;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px 20px 20px 0;
    position: relative;
    .drafList{
        @include flex_start;
        flex-wrap: wrap;
        padding-bottom: 75px;
        color:rgba(0, 0, 0, 0.65);
        & > li{
            flex: 0 0 306px;
            width: 306px;
            height: 100px;
            position: relative;
            margin-bottom: 30px;
            margin-left: 20px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #FCFCFD;
            border-radius: 4px;
            cursor: pointer;
            @include flex_c;
            flex-direction: column;
            &:hover{
                background-color: #F1F3F4;
            }
            & > i{
                position: absolute;
                right: 0px;
                top: 0px;
                padding: 10px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
                &:hover{
                    color: rgba(0, 0, 0, 0.75);
                }
            }
            .name, .time{
                width: 100%;
            }
            .time{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.4);
            }
            .name {
                @include flex_start;
                padding-bottom: 10px;
                p{
                    @include overhideOne;
                    padding-right: 20px;
                    position: relative;
                    user-select: none;
                }
                i{
                    position: absolute;
                    right: 0;
                    top: 3px;
                    color: rgba(0, 0, 0, 0.4);
                    animation: slideInUp .2s;
                    &:hover{
                        color: rgba(0, 0, 0, 0.65);
                    }
                }
                .input{
                    width: 100%;
                    @include flex_fn(space-between);
                    input{
                        flex: 1 0 auto;
                        height: 24px;
                        line-height: 24px;
                        margin-right: 10px;
                        border: 1px solid #eee;
                        border-radius: 3px;
                        text-indent: 10px;
                        font-size: 12px;
                    }
                    .btn{
                        button{
                            background-color: #F1F3F4;
                            font-size: 12px;
                            &:hover{
                                color: inherit;
                                border-color: #999;
                            }
                            &+button{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .count{
            position: absolute;
            bottom: 25px;
            right: 50px;
            height: 75px;
            font-size: 50px;
            font-weight: 400;
            letter-spacing: 5px;
            color: rgba(0,0,0,0.15);
        }
    }
    .noData{
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}
@keyframes slideInUp{
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
