@import '../../common/mixin';
.tenantInfoWrap {
    width: 100%;
    min-height: 100%;
    min-width: 1000px;
    background-color: #fff;
    border-radius: 2px;
    .filterBg {
        width: 100%;
        & > h3 {
            width: 100%;
            height: 55px;
            line-height: 55px;
            padding-left: 30px;
            font-weight: 600;
            font-size: 16px;
            border-bottom: 1px solid #d9d9d9;
            color: rgba(0, 0, 0, 0.85);
        }
        .filterBarwrap{
            padding-left: 32px;
            padding-right: 32px;
        }
        .addUser{
            margin-left: 32px;
        }
    }
    .tableContent{
        width: 100%;
        padding: 16px 24px; 
        td{
            padding-left: 10px;
            padding-right: 10px;
            .editBtn{
                color: $mainColor;
                cursor: pointer;
                user-select: none;
                &.disabled{
                    color: #ccc;
                    cursor: not-allowed;
                }
            }
        }
        td.email{
            max-width: 10em;
            @include overhideOne;
        }
        td.status{
            i{
                width: 6px;
                height: 6px;
                margin-right: 8px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 6px;
                background-color: $mainColor;
                &.status1{
                    background-color: #52C41A;
                }
                &.status2{
                    background-color: #F5222D;
                }
            }
        }
    }
}